@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dddfeb;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(to bottom, rgb(0, 190, 190), #00e8005b);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 10px;
}

.heading2 {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.start-screen .btn {
    margin-top: 50px;
}

.btn_start {
    width: 100%;
    height: 60px;
    background: rgba(0, 35, 35, 0.23);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}

.btn_connect {
    width: 30%;
    height: 30px;
    background: rgba(0, 35, 35, 0.23);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position : absolute;
    top : 10px;
    right : 10px;
}

.btn_accueil {
    width: 30%;
    height: 30px;
    background: rgba(0, 35, 35, 0.23);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 33%;
    margin-bottom: 5%;
}

.btn_deconnexion {
    width: 35%;
    height: 30px;
    background: rgba(0, 35, 35, 0.23);
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 30%;

}